
.container {
    position: absolute;
    width: 140px;
    height: 140px;
    top: 0;
    right: 0;

    
}



.size {

    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    /* background-color: var(--page-bg-dark); */
    transition: background-color 1s ease-in-out;
    
}




@media (max-width: 700px){
    .container{        
        transform: scale(.9) translateX(20px);
    }
}


@media (max-width: 600px){
    .container{        
        transform: scale(.8) translateX(30px);
    }
}

@media (max-width: 520px){
    .container{        
        transform: scale(.7) translateX(40px);
    }

}

@media (max-width: 450px){
    .container{        
        transform: scale(.6) translateX(50px);
    }

}


@media (max-width: 350px){
    .container{        
        transform: scale(.6) translateX(50px) translateY(-2rem);
    }

}
