.body{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container{
    width: 10em;
    height: 10em;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.sun{
    position: absolute;
    border-radius: 50%;    
    /* z-index: 1; */ 
}



.planetOrbit{

    --planetOrbitTime: 36.5s;

    position: absolute;
    border-style: solid;
    border-color: var(--home-estela) transparent transparent transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;

    width: 14em;
    height: 14em;
    

    animation: orbit var(--planetOrbitTime) linear infinite;
    transition: border-color var(--transition-time-slow) ease-in-out;
    /* animation: orbit var(--planetOrbitTime) linear infinite;  */

}


.planet{


    content: '';
    position: absolute;

    top: 1em;
    right: .6em;
    width: 2.5em;
    height: 2.5em;

    
    animation: orbitBackwards var(--planetOrbitTime) linear infinite;
}


.moonOrbit{

    --moonOrbitTime: 2.7s;

    position: absolute;
    border-style: solid;
    border-color: var(--home-estela) transparent transparent transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;

    /* background-color: brown; */
    
    top: -0.3em;
    right: -0.7em;
    width: 5em;
    height: 5em;

    animation: orbit var(--moonOrbitTime) linear infinite;
    transition: border-color var(--transition-time-slow) ease-in-out;
    /**/
}


.moon{

    --tiempoReversa: 2.51403061224s;
    content: '';
    position: absolute;



    top: -.3em;
    right: -.3em;
    width: 2em;
    height: 2em;

    
    animation: orbitBackwards var(--tiempoReversa) linear infinite;
    /* Tengo q tener en cuenta la cantidad de vueltas q da
    El padre (El planeta) da 1 vuelta en 36.5 segundos. El hijo (La luna de ese planeta) da una vuelta en 2.7 segundos.
    Osea q lo que tarda en dar una vuelta el padre el hijo dio 36.5 / 2.7 = 13.5185185185 vueltas
    Por ende el nieto para mantenerse recto deberia hacer la vuelta al reves en la cantidad de vueltas q da el hijo mientras el padre da solo 1 y sumarle uno q seria la vuelta del padre, en este caso es 13.5185185185 + 1 = 14.5185185185 y para calcular entonces el tiempo q tendria q tardar en dar la vuelta (360 grados) tendria q hacer 36.5 / 14.5185185185 = 2.51403061224   */

}






@keyframes orbit {
    to {
        transform: rotate(360deg);
    }
}


@keyframes orbitBackwards {
    to {
        transform: rotate(-360deg);
    }
}












/* .body{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:black;
    overflow: hidden;
}

.container{
    font-size: 10px;
    width: 40em;
    height: 40em;
    position: relative;
}
.sun{
    position: absolute;
    top: 15em;
    left: 15em;
    width: 10em;
    height: 10em;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0 0 3em white;

}
.earth, .moon{
    position: absolute;
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
}
.earth{
    top: 5em;
    left: 5em;
    width: 30em;
    height: 30em;
    animation: orbit 36.5s linear infinite;
}
.moon{
    top: 0;
    right: 0;
    width: 8em;
    height: 8em;
    animation: orbit 2.7s linear infinite;
}
.earth::before,
.moon::before{
    content: '';
    position: absolute;
    border-radius: 50%;

}
.earth::before{
    top: 2.8em;
    right: 2.8em;
    width: 3em;
    height: 3em;
    background-color: aqua;
}
.moon::before{
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background-color: silver;
}
@keyframes orbit {
    to {
        transform: rotate(360deg);
    }
} */
