.animation {
    position: relative;
    
    width: 100%;
    height: 100%;
    font-size: 1.7rem;
    overflow:hidden;


    
    display: flex;
    align-items: center;
    justify-content: flex-start;

    flex: 1;
}

.animation div {
    position: absolute;

    display:inline-block;
    padding: 0;

    top: 0;



    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;


    width: 100%;

}

.animation div div{

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    height: calc(100% - 20px);
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    transition: transform 1s, background-color 1s ease-in-out, color 1s ease-in-out;

    width: fit-content;
    height: fit-content;
}




.first div {
    background-color: var(--home-tecnologies-1);
    color: var(--home-tecnologies-text-black);
}

.second div {
    background-color:var(--home-tecnologies-2);
    color: var(--home-tecnologies-text-white);
}

.third div {
    background-color:var(--home-tecnologies-3);
    color: var(--home-tecnologies-text-black);
}

.fourth div {
    background-color: var(--home-tecnologies-4);
    color: var(--home-tecnologies-text-white);
}

.fifth div {
    background-color: var(--home-tecnologies-5);
    color: var(--home-tecnologies-text-white);
}

.sixth div {
    background-color: var(--home-tecnologies-6);
    color: var(--home-tecnologies-text-white);
}

  
@media (max-width: 750px){ 

    .animation {
    
        font-size: 1.5rem;
    }  

}


@media (max-width: 700px){ 


    .animation {
    
        font-size: 1.4rem;
    }
    

}



@media (max-width: 500px){ 


    

    .animation {
    
        font-size: 1.3rem;
    }
    

}

@media (max-width: 400px){ 


    

    .animation {
    
        font-size: 1rem;
    }
    

}


@media (max-width: 350px){ 


    .animation {
    
        font-size: .8rem;
    }
}