/*CSS Code styles*/

.operator{
    color: rgb(206, 206, 206)
}

.property{
    color: rgb(206, 206, 206)
}

.value{
    color: rgb(153, 101, 24)
}

.class{
    color: rgb(153, 101, 24)
}

.keyword{
    color: rgb(21, 117, 146)
}

.tag{
    color: rgb(206, 47, 47)
}

.error{
    color: rgb(207, 6, 6);
    text-decoration: underline;    
}

/*END CSS Code styles*/