/* JSX Code styles */


.keyword{
    color: rgb(185, 41, 252);
}

.function{
    color: rgb(83, 186, 255);
}

.constant{
    color: rgb(241, 239, 80);
}

.number{
    color: rgb(190, 64, 5);
}

.string{
    color: rgb(118, 255, 100);
}

.reservedValue{
    color: rgb(241, 150, 30);
}

.variable{
    color: rgb(255, 61, 61);
}

.operator{
    color: rgb(141, 171, 177);
}

.htmlTags{
    color: rgb(255, 61, 61);
}

.htmlProps{
    color: rgb(241, 150, 30);
}

.htmlText{
    color: rgb(197, 197, 197);
}

.component{
    color: rgb(241, 239, 80);
}


.comment{    
    color: rgb(167, 167, 167);
}

.objectProperty{
    color: rgb(255, 61, 61);    
}


.specialFunctions{
    color: rgb(54, 185, 185);
}

.error{
    color: rgb(255, 61, 61);
    text-decoration: underline;
    
}


/*END JSX Code styles*/