.title{
    font-size: 1.725rem;
    margin: 0;
    margin-bottom: 20px;

    color: var(--about-biography-title);
    transition: color var(--transition-time-fast) ease-in-out;

}

.span{
    display: inline;
    background-repeat: no-repeat;
    transition: all .5s ease-in-out, color var(--transition-time-fast) ease-in-out;

    background-position: left;
    background-size: 0% 100%;
    background-image: var(--about-biography-background-4);
    
}

.text{
    font-family: Arial;
    line-height: 150%;

    color: var(--about-biography-text);
}


.line:hover .span{
    background-size: 100% 100%;
}

.line:nth-child(1) .span{
    background-image: var(--about-biography-background-1);
}

.line:nth-child(2) .span{
    background-image: var(--about-biography-background-2);
}

.line:nth-child(3) .span{
    background-image: var(--about-biography-background-3);
}

.line:nth-child(4) .span{
    background-image: var(--about-biography-background-4);
}

.line:nth-child(5) .span{
    background-image: var(--about-biography-background-5);
}

.line:nth-child(6) .span{
    background-image: var(--about-biography-background-6);
}



.line:nth-child(1):hover .title{
    color: var(--about-biography-background-1);
}

.line:nth-child(2):hover .title{
    color: var(--about-biography-background-2);
}

.line:nth-child(3):hover .title{
    color: var(--about-biography-background-3);
}

.line:nth-child(4):hover .title{
    color: var(--about-biography-background-4);
}

.line:nth-child(5):hover .title{
    color: var(--about-biography-background-5);
}

.line:nth-child(6):hover .title{
    color: var(--about-biography-background-6);
}



@media (max-width: 800px) {

    .title {
        font-size: 1.5rem;
    }

    .text {
        font-size: 16px;
    }
}
  
  
  

@media (max-width: 700px) {

    .title {
        font-size: 1.25rem;
    }
  

    .text {
        font-size: 14px;
    }
}


  
  

@media (max-width: 400px) {

    .title {
        font-size: 1.1rem;
    }
  

    .text {
        font-size: 12px;
    }
}



@media (max-width: 320px) {

    .title {
        font-size: .9rem;
        
        padding-left: 20px;
        padding-right: 20px;    
    }
  

    .text {
        font-size: 10px;
        padding-left: 20px;
        padding-right: 20px; 
    }
}

