.title{    
    font-size: 2rem;
    margin: 10px 0;

    color: var(--about-skills-card-title);
    transition: color var(--transition-time-slow) ease-in-out;
}

.text{
    font-size: .9rem;

    color: var(--about-skills-card-text);
    transition: color var(--transition-time-slow) ease-in-out;
}

.header {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

.header div {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
    
    transition: background-color var(--transition-time-slow) ease-in-out;
}

.header div:nth-child(1){
    background-color: var(--about-skills-card-circle-1);
}

.header div:nth-child(2){
    background-color: var(--about-skills-card-circle-2);
}

.header div:nth-child(3){
    background-color: var(--about-skills-card-circle-3);
}



@media (max-width: 1280px) {
      
    .text{
        font-size: .88rem;

    }

}
  
@media (max-width: 1200px) {
 
    .text{
        font-size: .86rem;

    }
     
}
  
@media (max-width: 600px) {
    .title{    
        font-size: 1.8rem;
        margin: 8px 0;
    }
    
    .text{
        font-size: .78rem;

    }
     
    
}

@media (max-width: 500px) {
    


    .text{
        margin-bottom: 0;
    }
 
    
}

@media (max-width: 400px){

    .title{    
        font-size: 1.6rem;
        margin-bottom: 0;
    }
    
    .text{
        font-size: .74rem;

    }
     
}


@media (max-width: 320px){
    .title{    
        font-size: 1.3rem;
        margin-bottom: 0;
    }
    
    .text{
        font-size: .7rem;

    }
     
}
