
.container {
    --cell-width: 26px;
    --cell-height: 38px;
    --cell-font-size: 19px;
    
    --max-cols: 19;
    --max-rows: 2;

    max-width: 100%;
    width: calc(var(--max-cols) * var(--cell-width));
    height: calc(var(--max-rows) * var(--cell-height));
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    font-family: Google Sans Mono,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
    font-weight: 500;

    
    color: var(--about-title-cell-text);
}



.slide {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
}

.cell:not(.isSpace) {
    background-color: var(--about-title-cell-bg);
    box-shadow: 0 0 0 0.5px var(--about-title-cell-shadow) inset, 0 0 0 0.5px var(--about-title-cell-shadow);
    
}

.cell .isSpace{
    visibility: hidden;
}

.cell .isSpace span {
    visibility: hidden;
}

.cell span {
    position: relative;
    width: 100%;
    text-align: center;
    
}

.cell {
    width: var(--cell-width);
    height: var(--cell-height);
    font-size: var(--cell-font-size);
    line-height: 100%;
    box-sizing: border-box;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background-color var(--transition-time-fast) ease-in-out, box-shadow var(--transition-time-fast) ease-in-out;
}

.random{
    z-index: 10;
    color: var(--about-title-cell-text-random);
    transition: color var(--transition-time-fast) ease-in-out;
}

/* element.style {
    --max-rows: 4;
    --max-cols: 10;
} */


@media (min-width: 0px){
    .container {
        --cell-width: 12px;
        --cell-height: 24px;
        --cell-font-size: 7px;
    } 
}

@media (min-width: 320px){
    .container {
        --cell-width: 15px;
        --cell-height: 28px;
        --cell-font-size: 8px;
    } 
}

@media (min-width: 400px){
    .container {
        --cell-width: 18px;
        --cell-height: 32px;
        --cell-font-size: 9px;
    } 
}


@media (min-width: 530px){
    .container {
        --cell-width: 20px;
        --cell-height: 34px;
        --cell-font-size: 10px;
    } 
}


@media (min-width: 610px){
    .container {
        --cell-width: 24px;
        --cell-height: 38px;
        --cell-font-size: 14px;
    } 
}


@media (min-width: 720px){
    .container {
        --cell-width: 28px;
        --cell-height: 44px;
        --cell-font-size: 18px;
    }  
}


@media (min-width: 795px){
    .container {
        --cell-width: 34px;
        --cell-height: 52px;
        --cell-font-size: 24px;
    }
}


@media (min-width: 950px){
    .container {
        --cell-width: 38px;
        --cell-height: 58px;
        --cell-font-size: 28px;
    }
}

@media (min-width: 1024px){
    .container {
        --cell-width: 42px;
        --cell-height: 64px;
        --cell-font-size: 32px;
    }
}

@media (min-width: 1280px){
    .container {
        --cell-width: 50px;
        --cell-height: 74px;
        --cell-font-size: 37px;
    }
}
