

.body{

    width: 100%;

    margin: 0; /* Eliminar márgenes predeterminados */
    padding: 0; /* Eliminar relleno predeterminado */
  
    line-height: inherit;

    min-height: 100vh;

    scrollbar-gutter: stable both-edges;
    
    font-family: "Exo", sans-serif;

    background-color: var(--page-bg);

}