:root{


    --home-title-5-dark: rgb(234, 243, 255);
    --home-title-4-dark: #25a6e9;
    --home-title-3-dark: rgb(168 127 251 / 1);
    --home-title-2-dark: #17b877;
    --home-title-1-dark: #ffa23e;

    --home-title-5-light: #36384C;
    --home-title-4-light: #58644e;
    --home-title-3-light: #849974;
    --home-title-2-light: #613A43;
    --home-title-1-light: #bb9b95;


    /* --page-bg: rgb(5, 14, 26); 
    --page-bg-dark: rgb(5, 14, 26); 
    --page-bg-light: #fff3e6;
    
    --navbar-link-text: rgb(234, 243, 255);
    --navbar-link-text-hovered: rgb(5, 14, 26);
    --navbar-link-text-active: rgb(5, 14, 26);
    --navbar-link-bg: #25a6e9;
    --navbar-link-bg-active: rgb(168 127 251 / 1);
    --text: rgb(234, 243, 255);

    --footer-separation: rgb(234, 243, 255);
    --footer-text: rgb(234, 243, 255);

    --darkMode-button-moon-bg: rgb(57, 20, 94);
    --darkMode-button-sun-bg: #696969;
    --darkMode-button-sun-color: #353535;

    

    --home-title-5-dark: rgb(234, 243, 255);
    --home-title-4-dark: #25a6e9;
    --home-title-3-dark: rgb(168 127 251 / 1);
    --home-title-2-dark: #17b877;
    --home-title-1-dark: #ffa23e;

    --home-title-5-light: #36384C;
    --home-title-4-light: #58644e;
    --home-title-3-light: #849974;
    --home-title-2-light: #613A43;
    --home-title-1-light: #bb9b95;

    --home-title-opacity: 0;

    
    --home-subtitle: rgb(234, 243, 255);
    --home-subtitle-underline: rgb(168 127 251 / 1);
    --home-text: rgb(234, 243, 255);
    
    --home-tecnologies-title: rgb(234, 243, 255);

    --home-tecnologies-1: #39c3f5;
    --home-tecnologies-2: #000000;
    --home-tecnologies-3: #edf036;
    --home-tecnologies-4: #ff8c20;
    --home-tecnologies-5: #1e78cd;
    --home-tecnologies-6: #000000;

    --home-tecnologies-text-black: black;
    --home-tecnologies-text-white: white;

    --home-stars: rgb(234, 243, 255);
    --home-estela: rgb(234, 243, 255);





    --about-title-cell-bg: rgb(16 21 29/1);
    --about-title-cell-shadow: #2e3c51;
    --about-title-cell-text: rgb(219, 228, 240);
    --about-title-cell-text-random: rgba(191, 199, 210, 0.616);

    --about-biography-title: rgb(234, 243, 255);
    --about-biography-text: rgb(234, 243, 255);

    --about-img-line: rgb(234, 243, 255);

    --about-biography-background-1: linear-gradient(#427480, #427480);
    --about-biography-background-2: linear-gradient(#3f7958, #3f7958);
    --about-biography-background-3: linear-gradient(#405f2e, #405f2e);
    --about-biography-background-4: linear-gradient(#8b7d2d, #8b7d2d);
    --about-biography-background-5: linear-gradient(#865f2a, #865f2a);
    --about-biography-background-6: linear-gradient(#7c4339, #7c4339);
    

    
    --about-skills-title: rgb(234, 243, 255);
    --about-skills-title-glitch-1: rgb(168 127 251);
    --about-skills-title-glitch-2: #25a6e9;

    
    --about-skills-card-bg: rgb(103, 81, 148);
    --about-skills-card-title: rgb(26, 13, 53);
    --about-skills-card-text: rgb(234, 243, 255);

    
    --about-skills-card-circle-1: rgb(26, 13, 53);
    --about-skills-card-circle-2: #ffa23e;
    --about-skills-card-circle-3: #17b877;


    --projects-title: rgb(234, 243, 255);

    --projects-card-title: rgb(168 127 251 / 1);
    --projects-card-link: rgb(234, 243, 255);
    --projects-card-text: rgb(234, 243, 255);

    --projects-card-line: rgb(234, 243, 255);
    --projects-card-line-under: rgb(234, 243, 255);



    --contactme-overlay: rgba(0, 0, 0, 0.685);

    --contactme-title-text: rgb(234, 243, 255);
    --contactme-title-bg: rgb(0, 18, 48);
    --contactme-title-bg-error: #411313;
    --contactme-title-bg-success: rgb(2, 29, 2);


    --contactme-message-text: rgb(234, 243, 255);
    --contactme-message-bg: #324c5a;
    --contactme-message-placeholder: rgb(188, 198, 211);

    --contactme-button-text: black;
    --contactme-button-text-error: #290605;
    --contactme-button-text-success: rgb(12, 59, 12);
    --contactme-button-bg: #e48124;
    --contactme-button-bg-error: rgb(173, 93, 93);
    --contactme-button-bg-success: rgb(105, 173, 105);

    --contactme-button-loader: lightBlue;
    --contactme-button-loader-spin: rgb(16 21 29/1);
    --contactme-button-loader-error: darkRed;
    --contactme-button-loader-success: green;




    --transition-time-slow: 1s;
    --transition-time-fast: .5s;

    --transition-time-project: .8s;
    --transition-time-lang: .3s; */

    /*

    light mode
    
    
    
    --page-bg: #fff3e6;
    --page-bg-dark: rgb(5, 14, 26); 
    --page-bg-light: #fff3e6;

    --navbar-link-text: #36384C;
    --navbar-link-text-hovered: white;
    --navbar-link-text-active: white;
    --navbar-link-bg: #613A43;
    --navbar-link-bg-active: #58644e;
    --text: #36384C;

    --footer-separation: #36384C;
    --footer-text: #36384C;
    
    --darkMode-button-moon-bg: #696969;
    --darkMode-button-sun-bg: rgb(254, 234, 172);
    --darkMode-button-sun-color: #FEAD03;

    

    --home-title-5: #36384C;
    --home-title-4: #58644e;
    --home-title-3: #849974;
    --home-title-2: #613A43;
    --home-title-1: #bb9b95;
    


    
    --home-subtitle: #36384C;
    --home-subtitle-underline: #849974;
    --home-text: #36384C;
    
    --home-tecnologies-title: #36384C;

    --home-tecnologies-1: #39c3f5;
    --home-tecnologies-2: #000000;
    --home-tecnologies-3: #edf036;
    --home-tecnologies-4: #ff8c20;
    --home-tecnologies-5: #1e78cd;
    --home-tecnologies-6: #000000;

    --home-tecnologies-text-black: black;
    --home-tecnologies-text-white: white;

    --home-stars: #36384C;
    --home-estela: #36384C;



    --about-title-cell-bg: #613A43;
    --about-title-cell-shadow: #835d66;
    --about-title-cell-text: #ffeaef;
    --about-title-cell-text-random: #cca1ab7c;

    --about-biography-title: #36384C;
    --about-biography-text: #36384C;

    --about-img-line: #36384C;

    --about-biography-background-1: linear-gradient(#88bcc9, #88bcc9);
    --about-biography-background-2: linear-gradient(#91d3af, #91d3af);
    --about-biography-background-3: linear-gradient(#a9d88e, #a9d88e);
    --about-biography-background-4: linear-gradient(#d3c576, #d3c576);
    --about-biography-background-5: linear-gradient(#dbb98d, #dbb98d);
    --about-biography-background-6: linear-gradient(#cf9d94, #cf9d94);
    

    
    --about-skills-title: #36384C;
    --about-skills-title-glitch-1: #fd527a;
    --about-skills-title-glitch-2: #a1fc56;

    
    --about-skills-card-bg: #cee0c2;
    --about-skills-card-title: #4e222d;
    --about-skills-card-text: #36384C;

    
    --about-skills-card-circle-1: #4e222d;
    --about-skills-card-circle-2: #ffff6c;
    --about-skills-card-circle-3: #5f6e53;


    --projects-title: #36384C;

    --projects-card-bg: #fff3e6;
    --projects-card-title: #8f1030;
    --projects-card-link: #36384C;
    --projects-card-text: #36384C;

    --projects-card-line: rgb(27 27 27/ 1);
    --projects-card-line-under: black;



    --contactme-overlay: rgba(0, 0, 0, 0.5);

    --contactme-title-text: #041e49;
    --contactme-title-bg: #b5c7a7;
    --contactme-title-bg-error: #ff8a8a;
    --contactme-title-bg-success: #9cf05c;

    --contactme-message-text: #36384C;
    --contactme-message-bg: #f5ffee;
    --contactme-message-placeholder: #4b4e69;

    --contactme-button-text: #f5ffee;
    --contactme-button-text-error: #ffcccb;
    --contactme-button-text-success: lightGreen;
    --contactme-button-bg: #4e222d;
    --contactme-button-bg-error: red;
    --contactme-button-bg-success: green;

    --contactme-button-loader: lightBlue;
    --contactme-button-loader-spin: rgb(255, 255, 255);
    --contactme-button-loader-error: darkRed;
    --contactme-button-loader-success: green;

    
    
    
    
    
    
    */



    
}

    /* --home-title-1: #186cb8;
    --home-title-2: #2a9a9f;
    --home-title-3: #f1b211;
    --home-title-4: #e83611;
    --home-title-5: #f9002f; */

    /* --about-title-cell-bg-dark: rgb(16 21 29/1); */
    /* --about-title-cell-bg: rgb(16 21 29/1);
    --about-title-cell-shadow: #2e3c51;
    --about-title-cell-text: rgb(191 199 210 / 1);
    --about-title-cell-text-random: rgba(191, 199, 210, 0.616); */